doctype
html
  head
    title OpenShift Stack'Em Competition
    link(rel='stylesheet', href='/stylesheets/result.css')
  body
    header
      h3 Error 
    .container
      .main-content
        div Submission failed: #{error}. Please try again.
        div
          a(href='/') Home 
