doctype
html
  head
    title OpenShift Stack'Em Competition
    link(rel='stylesheet', href='/stylesheets/result.css')
  body
    header
      h3 Thanks for your entry
    .container
      .main-content
        div Your submission was #{unique}, which means you have #{chances} in the draw. Remember you must be present at the draw to win. The prize winners will be drawn at #{draw}.
        div
          a(href='/') Home 
